.ui-mobile-viewport {
	margin: 0;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.ui-mobile [data-role=page],.ui-mobile [data-role=dialog],.ui-page {
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	position: absolute;
	display: none;
	border: 0
}

.ui-mobile .ui-page-active {
	display: block;
	overflow: visible
}
.ui-page-fullscreen .ui-content {
	padding: 0
}

.ui-mobile-touch-overflow.ui-page.ui-native-fixed,.ui-mobile-touch-overflow.ui-page.ui-native-fullscreen
	{
	overflow: visible
}
.ui-body-d {
	color: #333;
	text-shadow: 0 1px 0 #fff;
	background: #fff
}

.ui-body-d,.ui-body-d input,.ui-body-d select,.ui-body-d textarea,.ui-body-d button
	{
	font-family: Helvetica, Arial, sans-serif
}

.ui-body-d .ui-link-inherit {
	color: #333
}

.ui-body-d .ui-link {
	color: #2489ce;
	font-weight: bold
}
.ui-content {
	border-width: 0;
	overflow: visible;
	overflow-x: hidden;
	padding: 15px;
	min-height: 100%;
	max-height: 100%;
}
.ui-grid-auto {
	overflow: hidden
}
.ui-block-auto
	{
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
}
.ui-grid-auto .ui-block-auto {
	display: inline-block;
	overflow: hidden;
	text-align: center;
}
.ui-btn {
	display: block;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin: .5em 5px;
	padding: 0;
	text-decoration: none
}
.ui-btn-inner {
	padding:0 0 0.5em 0;
	display: block;
	position: relative;
	zoom: 1；
}
.ui-btn-thumb .ui-btn-inner {
	padding-top: 4em
}
.ui-corner-all	{
	-webkit-background-clip: padding-box;
	background-clip: padding-box
}
.ui-corner-all {
	-webkit-border-radius: .6em;
	border-radius: .6em
}
.ui-shadow {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}
.ui-btn-c {
	/*background: #eee;*/
	font-weight: bold;
	color: #444;
	text-shadow: 0 1px 1px #f6f6f6;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd),
		to(#eee) );
	background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
	background-image: linear-gradient(top, #fdfdfd, #eee);*/
}

.ui-btn-up-c a.ui-link-inherit {
	color: #2f3e46
}
.ui-btn-c:hover,.ui-btn-c:focus {
	background: #fff;
	font-weight: bold;
	color: #101010;
	text-shadow: 0 1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#dadada) );
	background-image: -webkit-linear-gradient(top, #ededed, #dadada);
	background-image: linear-gradient(top, #ededed, #dadada)
}

.ui-btn-hover-c a.ui-link-inherit {
	color: #2f3e46
}
.ui-btn-c:active {
	background: #fdfdfd;
	font-weight: bold;
	color: #111;
	text-shadow: 0 1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#fdfdfd) );
	background-image: -webkit-linear-gradient(top, #eee, #fdfdfd);
	background-image: linear-gradient(top, #eee, #fdfdfd)
}

.ui-btn-down-c a.ui-link-inherit {
	color: #2f3e46
}
.ui-btn-c {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none
}
.ui-thumb {
	position: absolute;
	left: 5%;
	top: 8%;
	width: 90%;
	height: 55%;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center
}
.text1{font-size:0.72em;}