<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4.3.20</key>
	<array>
		<string>Xcode10/Xcode10+以上版本 适配ios12，包括添加启动图及状态栏，导航栏和tabbar的高度 iPhoneXs，iPhoneiPhoneXs Max ,iPHoneXr</string>
	</array>
	<key>4.2.19</key>
	<array>
		<string>修复下载了config版本号不正确的主应用补丁包后无法再次更新补丁包的问题</string>
	</array>
	<key>4.2.18</key>
	<array>
		<string>修复子应用更新问题</string>
		<string>子应用更新问题修改</string>
		<string>修复uexWindow.open 无法打开页面的bug</string>
		<string>setTimeout callWithArguments: 闪退的问题处理</string>
		<string>uexWidget.cbStartWidgetWithConfig 与uexWidget.cbStartWidget返回值添加类型3，子应用文件读取错误</string>
		<string>webView bug,前端调用原生相机，相册，子应用退出问题对应</string>
	</array>
	<key>4.2.17</key>
	<array>
		<string>修复iPhone X启动时闪黑屏问题</string>
		<string>合并4.1分支的改动</string>
		<string>优化putLocalData，getLocalData和removeLocalData方法</string>
		<string>修复子应用补丁包升级后黑屏的bug</string>
	</array>
	<key>4.2.16</key>
	<array>
		<string>uexWindow.setLoadingImagePath中设置的启动图关闭时间优先级最高；在config中设置removeloading为true时，取消默认的启动图3秒超时</string>
		<string>startWidgetWithConfig增加启动页开关</string>
		<string>子应用启动图添加小圆点动画</string>
		<string>增加uexWindow.removeLocalData方法</string>
	</array>
	<key>4.2.15</key>
	<array>
		<string>修复uexWindow.close如果在浮动窗口执行时，也会关闭该浮动窗口所在的主窗口的问题。</string>
		<string>修复uexWindow.onPopoverLoadFinishInRootWnd回调在子应用中收不到的问题</string>
		<string>增加分辨率为1024*1024的图标，用于App Store展示，本引擎只能在4.1及以上版本的打包服务上使用</string>
		<string>公众号窗口增加title字体颜色参数和关闭按钮</string>
		<string>添加系统库CoreFoundation</string>
		<string>修复打开widget时，https链接的url会被拼接成本地文件路径的问题</string>
	</array>
	<key>4.2.14</key>
	<array>
		<string>增加公众号样式窗口</string>
		<string>修复公众号样式窗口无路径的问题和js注入失败的问题</string>
		<string>修复窗口frame问题，优化打开逻辑</string>
		<string>公众号样式窗口背景色改为白色，第二次js注入时机改为插件js注入之后</string>
		<string>修复uexWindow.openWithOptions方法在部分情况下配置无效的问题</string>
		<string>优化公众号底部栏界面，在getUrlQuery方法中增加对特殊url的处理，修复uexWindow.open打开的窗口仍带有widget主窗口样式的问题</string>
		<string>修复底部菜单点击无效的问题，暂时取消对带#号的url的截取</string>
	</array>
	<key>4.1.15</key>
	<array>
		<string>修复uexWindow. onPopoverLoadFinishInRootWnd回调在子应用中收不到的问题</string>
	</array>
	<key>4.1.14</key>
	<array>
		<string>修复uexWindow.close在浮动窗口执行时，也会关闭所在主窗口的问题。</string>
		<string>进一步优化主应用补丁包更新逻辑，防止一些小概率崩溃问题。</string>
	</array>
	<key>4.1.13</key>
	<array>
		<string>优化主应用补丁包更新速度，减少8badf00d崩溃几率</string>
		<string>修复当子应用与主应用版本号相同时，会导致子应用无法正常升级(版本号不变)的bug</string>
		<string>修复当数据统计插件存在时，EMM插件不会触发子应用的启动上报的bug</string>
	</array>
	<key>4.1.12</key>
	<array>
		<string>修复窗口打开动画问题</string>
	</array>
	<key>4.1.11</key>
	<array>
		<string>修复补丁包合并时文件夹会导致丢失原有文件而可能导致启动黑屏的问题</string>
	</array>
	<key>4.1.10</key>
	<array>
		<string>publishChannelNotification兼容3.0</string>
		<string>修复关闭窗口动画</string>
		<string>修复禁用iOS7Style无效的问题</string>
		<string>修复一个导致下载子应用闪退的问题</string>
		<string>修复升级黑屏问题</string>
	</array>
	<key>4.1.9</key>
	<array>
		<string>修复推送上报的bug</string>
		<string>修改Pushv4的相关逻辑</string>
	</array>
	<key>4.1.8</key>
	<array>
		<string>修复res://协议首次启动地址不正确的问题</string>
		<string>修复设置状态栏无效的问题</string>
		<string>修复iOS10+上收到推送消息后前端无法获取设置的回调函数和推送数据</string>
		<string>setPushInfo绑定推送接口兼容小企业版mms</string>
	</array>
	<key>4.1.7</key>
	<array>
		<string>修复一个导致res://路径解析失败的bug</string>
		<string>修复一个导致子应用上报版本号异常的bug</string>
		<string>支持子应用热修复</string>
		<string>uexWindow.prompt接口支持密码输入样式</string>
		<string>更新AppCanKit版本</string>
	</array>
	<key>4.1.6</key>
	<array>
		<string>引擎现在默认允许自动转屏</string>
		<string>WidgetOneSDK兼容性更新</string>
	</array>
	<key>4.1.5</key>
	<array>
		<string>修正首次启动应用时初始化时间过长的问题</string>
		<string>App启动页现在支持淡出动画效果</string>
	</array>
	<key>4.1.4</key>
	<array>
		<string>修复热升级后res://路径无法正确解析的问题</string>
	</array>
	<key>4.1.3</key>
	<array>
		<string>修复与uexEMM相关的兼容性问题</string>
	</array>
	<key>4.1.2</key>
	<array>
		<string>修复一个在低版本系统上连续关闭窗口导致闪退的问题</string>
	</array>
	<key>4.1.1</key>
	<array>
		<string>添加接口uexWidgetOne.restart</string>
		<string>修复一个导致应用自动更新无效的bug</string>
	</array>
	<key>4.1.0</key>
	<array>
		<string>重构侧滑关闭组件</string>
		<string>重构引擎动画</string>
		<string>支持WidgetSDK</string>
	</array>
</dict>
</plist>
